@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

 span{
  color:red;
 }
 h2{
  color:#C9BBCF;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  text-decoration: none;
 }
 body {
  text-align: center;
  background-color: #011F3F;
}
a{
  text-decoration: none;
}
#st{
  color:#C9BBCF;
  font-family: 'Montserrat', sans-serif;
    
}
#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  color: #FEF2BF;
}
.container {
  display: grid;
  width: 50%;
  grid-template-columns: auto auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: space-around
}
.btn {
  margin: 25px;
  display: block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}
.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
@media(max-width:480px){
  body{
    height:100vh;
    width:100vw;
  }
  #level-title{
    font-size: 190%;
    margin:10% 3% 5% 3%;
  }
  h2{
    margin:1.2rem;
    color:#C9BBCF;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    text-decoration: none;
  }
  a{
    text-decoration: none;  }
  .btn{
    width:150px;
    height:150px;
    margin:.35rem;
  }
  #st{
    margin-bottom:1.8rem;
    color:#C9BBCF;
    font-family: 'Montserrat', sans-serif;
    
  }
   }
footer{
color:#C9BBCF;
}
